<h1><%= @venue.name() %></h1>

<h3>Select all bands that played this venue:</h3>

<% if @venues.any?() %>
  <form action="/venues/<%= @venue.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @venues.each() do |venue| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>"><%= venue.name() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add Venues</button>
  </form>
<% end %>


<% if @venue.bands().any?() %>
  <h3>Here are all the bands that played this venue:</h3>

  <ul>
    <% @venue.bands().each() do |band| %>
      <li><%= band.name() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no bands yet!</p>
<% end %>


<a href="/">Home</a>
